In [1]:
#Exercise 1:
# print 0 to 20 by using range

for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [13]:
#Exercise 2:
# print range 10 to 20
for i in range(10,20):
    print(i,end=" ")

10 11 12 13 14 15 16 17 18 19

In [23]:
#Exercise 3:
# print number of items in the list using 'len'
list_1 = [10,20,14,55,43,87,76]
print(list_1)
print("Number of item in the list2 :", len(list_1))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the list2 : 7

In [27]:
#Exercise 4:
str = "Artificial Intelligence"
for i in str:
    print(i)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [29]:
#Exercise 5:
print("- Your Name -")
print("- Your Age -")
print("- Your Profession -")

- Your Name -
- Your Age -
- Your Profession -

In [33]:
#Excercise 6:
# print mixed datatypes using Tuples
tuple_1 = (1,'Welcome',2,'Hope')
print(tuple_1)

(1, 'Welcome', 2, 'Hope')

In [37]:
#Exercise 7:
tuple1 = (0,1,2,3)
tuple2 = ('python','HOPE')
tuple3 = (tuple1, tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [43]:
#Exercise 8:
# print odd numbers in the tuple
tuple_4 = (20,10,16,19,25,1,276,188)
print(tuple_4)
for k in tuple_4:
    if k % 2 != 0:
        print(k , " is odd" )

(20, 10, 16, 19, 25, 1, 276, 188)
19  is odd
25  is odd
1  is odd

In [45]:
#Exercise 9:
# print even numbers in the tuple
tuple_5 = (20,10,16,19,25,1,276,188)
print(tuple_5)
for k in tuple_4:
    if k % 2 == 0:
        print(k , " is even" )

(20, 10, 16, 19, 25, 1, 276, 188)
20  is even
10  is even
16  is even
276  is even
188  is even